body {
    background-color: #F2E9E4;
    color: #4A4E69;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px; /* Existing padding for desktop */
}

.title {
    letter-spacing: 3px;
    margin-top: 0;
    font-size: 24px;
    white-space: nowrap;
}

.tagline {
    margin-bottom: 20px;
    font-size: 20px;
}

.email {
    margin-top: 0;
    font-size: 18px;
}

/* Responsive styles for mobile */
@media screen and (max-width: 600px) {
    .container {
        padding: 30px; /* Increased padding for mobile */
    }

    .title {
        font-size: 30px;
    }

    .tagline {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .email {
        font-size: 22px;
    }
}
