body {
    background-color: #F2E9E4;
    color: #4A4E69;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.title {
    letter-spacing: 3px;
    margin-top: 0;
}

.tagline {
    margin-bottom: 5px;
}

.email {
    margin-top: 0;
}
