body {
    background-color: #F2E9E4;
    color: #4A4E69;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

.title {
    letter-spacing: 3px;
    margin-top: 0;
    font-size: 24px; /* Default font size for desktop */
}

.tagline {
    margin-bottom: 5px;
    font-size: 20px; /* Default font size for desktop */
}

.email {
    margin-top: 0;
    font-size: 18px; /* Default font size for desktop */
}

/* Responsive styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
    .title {
        font-size: 30px; /* Larger font size for mobile */
    }

    .tagline {
        font-size: 26px; /* Larger font size for mobile */
    }

    .email {
        font-size: 22px; /* Larger font size for mobile */
    }
}
